:root {
  --font-color: #f0f0f0;
  --clear-blue: #0d6efd;
  /* --link-color: #bf40bf; */
  --link-color: #f0dfae;
  --transparent: #0000;
  --navbar-height: 4.5rem;
  --background-color: #0f0d51;
  --dark-background: #20282a;
  --moon-size: 10rem;
  --moon-color: #f0dfae;
  --moon-shadow: #eeaa63;
  --moon-shadow-darker: #d68455;
}

@font-face {
  font-family: rumouski-semi-bold;
  src: url('../fonts/Rimouski-SemiBold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bs-gutter-x: 0!important;
  --bs-gutter-y: 0!important;
}

html {
  scroll-behavior: smooth;
}
body {
  margin-top: var(--navbar-height);
  padding-bottom: 1rem;
  background-color: var(--background-color);
}
.moon {
  z-index: -2;
  position: fixed;
  display: block;
  background-color: var(--moon-color);
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: var(--moon-size);
  height: var(--moon-size);
  border-radius: calc(var(--moon-size)/2);
  filter: blur(0.125rem);
  animation: example 5s ease infinite forwards;
}
@keyframes example {
  0%   {background-color: var(--transparent);}
  50%  {background-color: var(--moon-color);}
  100%  {background-color: var(--transparent);}
}
/* .moon::before {
  z-index: -1;
  position: relative;
  content: '';
  display: block;
  background-color: var(--moon-shadow-darker);
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: calc(var(--moon-size)/1.5);
  height: calc(var(--moon-size)/2);
  border-radius: 50%;
  filter: blur(0.5rem);
}
.moon::after {
  z-index: -1;
  position: relative;
  content: '';
  display: block;
  background-color: var(--moon-shadow);
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: calc(var(--moon-size)/2.5);
  height: calc(var(--moon-size)/2);
  border-radius: 50%;
  filter: blur(0.25rem);
} */
table {
  overflow-x: scroll;
  white-space: nowrap;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, p {
  margin: 0;
  color: var(--font-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}
nav {
  z-index: 100;
  background-color: var(--dark-background);
  position: fixed!important;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--navbar-height);
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.3);
  -webkit-box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.3);
  -moz-box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.3);
}

.nav-link {
  color: var(--link-color)!important;
}
.button-primary {
  background-color: var(--moon-color);
}
.button-secondary {
  background-color: var(--moon-shadow-darker);
}
.button-primary:hover, .button-secondary:hover {
  color: var(--background-color);
  background-color: var(--moon-shadow);
}

.panel-title-section {
  background-color: var(--dark-background);
  z-index: 10;
  position: fixed!important;
  width: 100%;
  top: var(--navbar-height);
  height: 6rem;
  left: 0;
  box-shadow: 0.5rem 0rem 1rem 0rem rgba(0,0,0,0.5);
  -webkit-box-shadow: 0.5rem 0rem 1rem 0rem rgba(0,0,0,0.5);
  -moz-box-shadow: 0.5rem 0rem 1rem 0rem rgba(0,0,0,0.5);
}
.panel-options {
  display: flex;
  gap: 0.5rem;
}
.panel-content-section {
  position: relative;
  padding: 1rem;
  top: 6rem;
}
.panel-link {
  font-size: 1.4rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--transparent);
  transition: all 200ms ease-in;
}
.panel-link:hover {
  background-color: #0006;
}

.back-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
}
.back-arrow-icon {
  position: relative;
  top: 0.6rem;
  left: 0.55rem;
  width: 100%;
  height: 100%;
}

.nav-container {
  display: flex;
  gap: 1rem;
}
.card {
  width: min(32rem, 80%);
}
.create-user {
  font-size: 1.6rem;
  padding-top: 0;
}
.posts-list {
  margin: 0.5rem;
}
.post-item {
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.post-title {
  max-height: 3rem;
}
.post-description {
  max-height: 4rem;
  padding-right: 0.5rem;
}
.blog-icon {
  flex-shrink: 0;
  background-color: var(--clear-blue);
  border-radius: 0.5rem;
  width: 12rem!important;
  height: 9rem;
}
.blog-icon::before {
  content: '';
  position: relative;
  top: 0.1rem;
  left: 0.5rem;
  border-radius: 0.25rem;
  display: block;
  width: 3rem;
  height: 1rem;
  background-color: #f0f0f040;
}
.blog-icon::after {
  content: 'BLOG';
  font-family: rumouski-semi-bold;
  font-size: 4rem;
  background-color: #f0f0f0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.2rem;
  left: 0.5rem;
  width: 11rem;
  height: calc(9rem - 1.2rem - 0.5rem);
  border-radius: 0.5rem;
}
.blog-author-info {
  display: none;
}

@media (min-width: 440px) {
  .posts-list {
    margin: 0 2rem 1rem;
  }
  .post-item {
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .panel-title-section {
    width: 16rem;
    top: 4.5rem;
    height: calc(100dvh - var(--navbar-height));
    left: 0;
  }
  .panel-options {
    padding: 0.5rem;
    flex-direction: column;
  }
  .panel-content-section {
    top: 1rem;
    left: 16rem;
    margin: 0 1rem;
    max-width: calc(100% - 16rem - 2rem);
  }

  .blog-author-info {
    position: sticky;
    display: flex;
    padding: 1rem;
    width: 20rem;
  }
}
@media (min-width: 1024px) {
  .panel-title-section {
    width: 20rem;
    top: 4.5rem;
  }
  .panel-content-section {
    left: 20rem;
    max-width: calc(100% - 20rem - 2rem);
  }

  .blog-author-info {
    padding: 2rem;
    width: 20rem;
  }
}
